*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  
}
body{
  background-color: #a8d0e6;
  background-image: url(./img2.jpg);
}

/* ------------navbar--------------------- */
.container{
  width: 100%;
  height: auto;
  /*background-color: #4245f5;
  background-image: url(./img.jpg);*/
}

.main{
  max-width: 1200px;
  height: auto;
  margin: 0 auto;  /*important to center*/
  
}

nav{
  width: 100%;
  height: 75px;
 /* background-color:#4245f5;*/
  /*background-image: url(./img.jpg);*/
  color: #fff;
}

nav ul{
  float: right;
}

nav ul li{
  display: inline-block;
  list-style-type: none;
  padding: 10px;
  
}

nav ul li a{
  text-decoration: none;
  color: #000000;
  line-height: 50px;
  padding: 10px 20px;
  font-size: 13px;
  letter-spacing: 0.5px;
  transition: 0.3s all;
  border-radius: 3px;
}
nav ul li a:hover{
  background-color: #f76c6c;
}

.logo{
  float: left;
  line-height: 50px;
  padding-top: 5px;
}
/* --------------------------------- */

/* -------------scan form-------------------- */

.fcontainer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  /*background-color: #f8e9a1;*/
  background-image: url(./img.jpg);
}

.fcontainer .form-container{
  padding: 40px 50px 40px 50px;
  background-color: #f76c6c;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  margin-left: 20%;
}

.fcontainer .form-container h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 20px;
  color: #333333;
}

.fcontainer .form-container .input-box{
  position: relative;
  width: 100%;
}

.fcontainer .form-container .input-box input{
  background: transparent;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.5);
  color: #fff;
  margin-bottom: 20px;
  font-size: 13px;
  padding: 4px 0px 4px 25px;
  height: 33px;
  transition: 0.4s all;
}

.fcontainer .form-container .input-box select{
  background: transparent;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.5);
  color: #fff;
  margin-bottom: 20px;
  font-size: 13px;
  padding: 4px 0px 4px 25px;
  height: 33px;
  transition: 0.4s all;
}

.fcontainer .form-container .input-box textarea{
  background: transparent;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.5);
  color: #fff;
  margin-bottom: 20px;
  font-size: 13px;
  padding: 4px 0px 4px 25px;
  transition: 0.4s all;
}

.fcontainer .form-container .input-box input:focus,
.fcontainer .form-container .input-box select:focus,
.fcontainer .form-container .input-box textarea:focus{
  outline: none;
  border-color: #000;
}



.fcontainer .form-container .input-box .icon{
  position: absolute;
  height: 33px;
  color: #222;
  line-height: 33px;
}

.sub-btn{
  border: none;
  outline: none;
  width: 100%;
  background: #f8e9a1;
  color: #222;
  height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}
/* --------------------------------- */

/* --------------scan list------------------- */
.fcontainer .list-container{
  padding: 40px 50px 40px 50px;
  background-color: #f76c6c;
  border-radius: 10px;
  height:400px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  margin-left: 20%;
  overflow: scroll;
}

.fcontainer .list-container h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 20px;
  color: #333333;
}

.fcontainer .list-container .list-element li{
  background: transparent;
  text-decoration: none;
  width: 100%;
  border: none;
  margin-bottom: 15px;
  font-size: 15px;
  padding: 4px 0px 4px 25px;
  height: 33px;
  transition: 0.4s all;
  
}

.fcontainer .list-container .list-element li a{
  text-decoration: none;
  color: #333;
  
}
